[user]
	name = Anthony Hunt
	email = anthony.hunt@readytalk.com
[color]
	ui = true
[core]
  editor = vim
[alias]
  cam = commit -am
  co = checkout
  cob = checkout -b
  d = diff
  f = fetch
  l = log
  p = pull
  s = status
  w = whatchanged
  wp = whatchanged -p
