[user]
	name = Anthony Hunt
	email = anthony@firepoint.net
[color]
	ui = true
[core]
  editor = vim
[alias]
  a = add
  cam = commit -am
  co = checkout
  cob = checkout -b
  d = diff
  ds = diff --staged
  f = fetch
  l = log
  pl = pull
  ps = push
  s = status
  w = whatchanged
  wp = whatchanged -p
